/* ==========================================================================
   HTML5 Boilerplate styles - h5bp.com (generated via initializr.com)
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

img {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */
@font-face {
	src: url(../resources/helveticaneuedeskui.ttf);
	font-family: "MainFont";
}

@font-face {
	src: url(../resources/helveticaneue.ttf);
	font-family: "MainFont";
	font-weight: bold;
}

@font-face {
	src: url(../resources/hpsimplifiedrg.ttf);
	font-family: "HPFont";
}

@font-face {
	src: url(../resources/hpsimplifiedbd.ttf);
	font-family: "HPFont";
	font-weight: bold;
}

body, html {
	width: 100%;
	height: 100%;
	min-width: 480px; /* intermediate */
	/*overflow-x: hidden;*/
	margin: 0;
	padding: 0;
	background: #EFEFEF url(../imgs/h_div_1x6.png) repeat-x;
	text-align: center;
	font-family: "MainFont", Arial, sans-serif;
}

header#main-header {
	height: 76px;
	margin: 0 auto;
}

div#logo {
	width: 240px;
	height: 58px;
	background: url(../imgs/logo_240x58.png);
	float: left;
	position: relative;
	top: 11px;
}

div#fb-btn {
	width: 19px;
	height: 19px;
	background: url(../imgs/fb-btn_19x38.png);
	float: left;
	margin-left: 5px;
}

div#fb-btn:hover {
	background: url(../imgs/fb-btn_19x38.png) left -100%;
}

div#tt-btn {
	width: 19px;
	height: 19px;
	background: url(../imgs/tt-btn_19x38.png);
	float: left;
	margin-left: 5px;	
}

div#tt-btn:hover {
	background: url(../imgs/tt-btn_19x38.png) left -100%;
}

div#social-bar {
    width: 50px;
	height: 19px;
	float: right;
	position: relative;
	top: 13px;
	right: 7px;
	line-height: 19px;
}

nav#main-nav {
	width: 100%;
	white-space: nowrap;
	position: relative;
	top: 18px;
	float: left;
	background: #EFEFEF;
}

nav#main-nav > ul {
	margin: 0;
	padding: 0 7px;
	text-align: left;
}

nav#main-nav > ul > li {
	display: inline;
	margin: 0 0 0 -4px; /* normally li elements should have float:left and display:block, but here we only use display:inline, so apply a -4px margin-left to fix the gaps between li elements */
	padding: 0;
}

nav#main-nav > ul > li:first-child {
	margin: 0; /* we don't want to set a -4 margin-left for the first element, lest it overlaps the left boundary of its parent container */
}

nav#main-nav li a {
	margin: 0;
	padding: 0 10px;
	color: #000000;
	text-decoration: none;
	/*border-right: 2px solid #000000;*/ /*important*/
}

nav#main-nav > ul > li:hover > a {
	color: #9d1c1f;
	/*border-right: 2px solid #9d1c1f;*/ /*important*/
}

nav#main-nav > ul > li:first-child > a {
	padding-left: 0;
}

nav#main-nav > ul > li:last-child > a {
	padding-right: 0;
	border-right: none;
}

nav#main-nav > ul > li > ul {
	position: absolute;
	background: #EFEFEF;
	top: 20px;
	left: 75px;
	margin: 0;
	padding: 20px 0 0 0;
	text-align:left;
	box-shadow: 5px 10px 10px 0px rgba(0,0,0,0.4);
}

nav#main-nav > ul > li > ul > li {
	padding: 8px 13px;
	border-top: 2px solid #000000;
}

nav#main-nav > ul > li > ul a {
	border: none;
}

nav#main-nav > ul > li > ul > li:hover {
	background: #9d1c1f;
}

nav#main-nav > ul > li > ul > li:hover a {
	color: #FFFFFF;
}

/* hide submenu by default */
ul#sub-menu-1 {
	display: none;
}

div#slider-out {
	width: 100%;
	background: #5B5B5B;
}

div#slider {
	width: 100%;
	margin: 0 auto;
	max-width: 970px;
	height: 322px;
	background: url(../imgs/main_slider_970x322/01.jpg) center center no-repeat;
	background-size: cover;
}

div#slider-ctrl {
	width: 100%;
	height: 16px;
	background: #A5A5A5;
}

article {
	text-align: left;
}

article#art0 {
	width: auto;
	padding: 0 0 15px 0;
	background: #A5A5A5;
	margin: 0 auto;
}

article#art0 h2, article#art0 p {
	margin: 0 5px;
}

article#art0 p {
	font-size: 0.9em;
}

article section.sect-left {
	width: 46%;
	padding: 0 2%;
	float: left;
	background: url(../imgs/sect_div_bg_2x2.png) right top repeat-y;
}

article section.sect-right {
	width: 46%;
	padding: 0 2%;
	float: right;
}

div.sect-nav-arr {
	width: 100%;
	height: 45px;
	background: url(../imgs/sect_nav_arr_bg_162x90.png) center 0 no-repeat;
	cursor: hand;
	cursor: pointer;
}

div.sect-nav-arr:hover {
	background: url(../imgs/sect_nav_arr_bg_162x90.png) center -45px no-repeat;
}

article.story {
	width: 70%;
	padding: 0 10%;
	margin: 10px auto;
	/*height: 800px;*/
	overflow: hidden;
}

article.story p , article.story h2 {
	font-family: "HPFont", "Arial", sans-serif;
	text-align: center;
	width: 66%;
	margin: 0 auto;
}

article.story div.sect-nav-arr {
	margin-top: 30px;
}

article#art2 div.sect-nav-arr {
	margin-top: 10px;
}

/*
 * We don't set height for this because it'll be set dynamically
 * upon browser resize
 */
article.story div.illus {
	background-position: center center;
	background-repeat: no-repeat;
	background-size: contain;
	margin: 10px auto;
}

div#illus1 {
	background-image: url(../imgs/home_art/01_1130x550.png);
	height: 363px;
}

div#illus2 {
	background-image: url(../imgs/home_art/02_1130x550.png);
	height: 363px;
}

div.illus3-child h2, div.illus3-child p {
	font-family: "HPFont", "Arial", sans-serif;
	font-size: 0.9em;
	width: 80%;
	margin: 0 auto;
	padding: 10px 10%;
	text-align: center;
	background: #CCCCCC;
}

div.illus3-child h2 {
	margin-top: 5px;
	padding-bottom: 0;
}

div#illus4 {
	height: 470px;
	overflow: hidden;
}

div.illus4-comp {
	width: 80%;
	height: 50px;
	margin: 0 auto;
	border: 1px #999999 dotted;
	border-bottom: none;
}

div.illus4-comp:hover {
	background: #990000;
}

div.illus4-comp:hover div {
	color:#FFFFFF;
}

div#comp2 {
	border: 1px #999 dotted;
}

div.illus4-comp div {
	width: 90%;
	padding: 10px 5%;
	text-align: center;
	color: #000000;
}

@media only screen and (min-width: 768px) {

	header#main-header {
		width: 77%;
	}

	nav#main-nav {
		width: auto;
		min-width: 600px;
		white-space: nowrap;
		float: right;
		clear: right;
		position: relative;
		top: 18px;
		right: 0;
		padding: 5px 0;
		background: #EFEFEF;
	}

	nav#main-nav > ul {
		text-align: right;
	}

	nav#main-nav > ul > li > ul {
		top: 25px;
		left: 181px;
		position: absolute;
	}

	div#slider {
		width: 80%;
	}

	article#art0 {
		width: 70%;
		padding: 0 15% 15px 15%;
	}

	div#illus3 {
		background-image: url(../imgs/home_art/03_1070x550.png);
	}
	
	div.illus3-child h2, div.illus3-child p {
		display: none;
	}

	div#illus31 {
		width: 23%;
		float: left;
		/*margin: 0 1% 0 1%;*/
		padding: 0 1% 0 1%;
		/*background: #999 url(../imgs/home_art/031.png) left top no-repeat;
		background-size: contain;*/
		height: 100%;
	}

	div#illus32 {
		width: 23%;
		float: left;
		/*margin: 0 1% 0 1%;*/
		padding: 0 1% 0 1%;
		/*background: #999; url(../imgs/home_art/032.png) left top no-repeat;
		background-size: contain;*/
		height: 100%;
	}

	div#illus33 {
		width: 23%;
		float: left;
		/*margin: 0 1% 0 1%;*/
		padding: 0 1% 0 1%;
		/*background: #999; url(../imgs/home_art/033.png) left top no-repeat;
		background-size: contain;*/
		height: 100%;
	}

	div#illus34 {
		width: 23%;
		float: left;
		/*margin: 0 1% 0 1%;*/
		padding: 0 1% 0 1%;
		/*background: #999; url(../imgs/home_art/034.png) left top no-repeat;
		background-size: contain;*/
		height: 100%;
	}
	
	div#illus4comps {
		width: 760px;
		height: 470px;
		margin: 0 auto;
		/*float: left;
		position: relative;
		top: -100%;*/
	}
	
	div#comp1 {
		width: 573px; /*74%;*/
		height: 183px; /*38%;*/
		background: url(../imgs/home_art/04_comp1_off.png) no-repeat;
		background-size: contain;
		float: left;
	}

	div#comp1:hover {
		background: url(../imgs/home_art/04_comp1.png) no-repeat;
	}

	div#comp2 {
		width: 183px; /*26%;*/
		height: 470px; /*100%;*/
		background: url(../imgs/home_art/04_comp2_off.png) no-repeat;
		background-size: contain;
		float:left;
	}

	div#comp2:hover {
		background: url(../imgs/home_art/04_comp2.png) no-repeat;
	}

	div#comp3 {
		width: 200px; /*26%;*/
		height: 286px; /*100%;*/
		background: url(../imgs/home_art/04_comp3_off.png) no-repeat;
		background-size: contain;
		float:left;
	}

	div#comp3:hover {
		background: url(../imgs/home_art/04_comp3.png) no-repeat;
	}

	div#comp4 {
		width: 200px; /*26%;*/
		height: 286px; /*100%;*/
		background: url(../imgs/home_art/04_comp4_off.png) no-repeat;
		background-size: contain;
		float:left;
	}

	div#comp4:hover {
		background: url(../imgs/home_art/04_comp4.png) no-repeat;
	}

	div#comp5 {
		width: 170px; /*26%;*/
		height: 286px; /*100%;*/
		background: url(../imgs/home_art/04_comp5_off.png) no-repeat;
		background-size: contain;
		float:left;
	}

	div#comp5:hover {
		background: url(../imgs/home_art/04_comp5.png) no-repeat;
	}

	div#illus4comps {
		height: 470px;
		margin: 0 auto;
	}
	
	div#illus4comps1345 {
		float:left;
		width: 573px;
	}
	
	div.illus4-comp, div#comp2 {
		border: none;
	}
	
	div.illus4-comp div {
		display: none;
	}
}

aside#main-aside {
	width: 80%;
	margin: 0 auto;
}

footer#main-footer {
	background: #000000;
}

footer#main-footer div {
	width: 76%;
	padding: 15px 0;
	margin: 0 auto;
}

footer#main-footer p {
	color: #CCCCCC;
	font-size: 0.8em;
	margin: 0;
}

span.strong-red {
	color: #7E080B;
	font-weight: bold;
	font-size: 1.2em;
}

span.strong-white {
	color: #FFFFFF;
	font-weight: bold;
	font-size: 1.2em;
}

a, a:hover, a:active, a:visited {
	color: #FFFFFF;
	text-decoration: none;
}

a.tooltip {
	position: relative;
}

a.tooltip::before {
	content: attr(data-tip);
	font-family: "Arial", sans-serif;
	font-size: 10px;
	font-weight: bold;
	position: absolute;
	z-index: 999;
	white-space: nowrap;
	bottom: 9999px;
	left: 0px;
	background: #000;
	color: #e0e0e0;
	padding: 0px 7px;
	line-height: 24px;
	height: 24px;
	
	opacity: 0;
	-webkit-transition: opacity 0.4s ease-out;
	-moz-transition: opacity 0.4s ease-out;
	-o-transition: opacity 0.4s ease-out;
	transition: opacity 0.4s ease-out;
}

a.tooltip:hover::before	{
	opacity: 1;
	bottom: 20px;
}






/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 35em) {
	
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}