/* ==========================================================================
   HTML5 Boilerplate styles - h5bp.com (generated via initializr.com)
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

img {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */
@font-face {
	src: url(../resources/helveticaneuedeskui.ttf);
	font-family: "MainFont";
}

@font-face {
	src: url(../resources/helveticaneue.ttf);
	font-family: "MainFont";
	font-weight: bold;
}

@font-face {
	src: url(../resources/hpsimplifiedrg.ttf);
	font-family: "HPFont";
}

@font-face {
	src: url(../resources/hpsimplifiedbd.ttf);
	font-family: "HPFont";
	font-weight: bold;
}

body, html {
	width: 100%;
	height: 100%;
	min-width: 540px;
	/*overflow-x: hidden;*/
	margin: 0;
	padding: 0;
	background: #EFEFEF url(../imgs/h_div_1x6.png) repeat-x;
	text-align: center;
	font-family: "MainFont", "Arial", sans-serif;
}

header#main-header {
	width: 80%;
	height: 116px;
	margin: 0 auto;
	overflow: hidden;
}

div#logo {
	width: 330px;
	height: 80px;
	background: url(../imgs/logo_330x80.png);
	float: left;
	position: relative;
	top: 18px;
}

div#social-bar {
	height: 19px;
	float: right;
	position: relative;
	top: 18px;
	line-height: 19px;
}

/* TODO: added responsive capability for this */
nav#main-nav {
	min-width: 680px;
	white-space: nowrap;
	float: right;
	clear: right;
	position: relative;
	top: 47px;
}

nav#main-nav ul {
	margin: 0;
	padding: 0;
	text-align: right;
}

nav#main-nav li {
	display: inline;
	margin: 0 0 0 -4px; // normally li elements should have float:left and display:block, but here we only use display:inline, so apply a -4px margin-left to fix the gaps between li elements
	padding: 0;
}

nav#main-nav li:first-child {
	margin: 0; // we don't want to set a -4 margin-left for the first element, lest it overlaps the left boundary of its parent container
}

nav#main-nav li a {
	margin: 0;
	padding: 0 2%;
	color: #000000;
	text-decoration: none;
	border-right: 2px solid #000000;
}

nav#main-nav li:hover a {
	color: #9d1c1f;
	border-right: 2px solid #9d1c1f;
}

nav#main-nav li:first-child a {
	padding-left: 0;
}

nav#main-nav li:last-child a {
	padding-right: 0;
	border-right: none;
}

div#slider {
	width: 100%;
	height: 478px;
	background: url(../imgs/main_slider/01.jpg) center center no-repeat;
	background-size: cover;
}

div#slider-ctrl {
	width: 100%;
	height: 16px;
	background: #A5A5A5;
}

article {
	text-align: left;
}

article#art0 {
	width: 80%;
	padding: 0 10% 15px 10%;
	background: #A5A5A5;
	margin: 0 auto;
}

article section.sect-left {
	width: 46%;
	padding: 0 2%;
	float: left;
	background: url(../imgs/sect_div_bg_2x2.png) right top repeat-y;
}

article section.sect-right {
	width: 46%;
	padding: 0 2%;
	float: right;
}

div.sect-nav-arr {
	width: 100%;
	height: 45px;
	background: url(../imgs/sect_nav_arr_bg_162x90.png) center 0 no-repeat;
	cursor: hand;
	cursor: pointer;
}

div.sect-nav-arr:hover {
	background: url(../imgs/sect_nav_arr_bg_162x90.png) center -45px no-repeat;
}

article.story {
	width: 80%;
	padding: 0 10%;
	margin: 10px auto;
	/*height: 800px;*/
	overflow: hidden;
}

article.story p , article.story h1 {
	font-family: "HPFont", "Arial", sans-serif;
	text-align: center;
	width: 58%;
	margin: 0 auto;
}

article.story div.illus {
	width: 100%;
	height: 510px;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: contain;
	margin: 10px 0;
}

div#illus1 {
	background-image: url(../imgs/home_art/01_1130x550.png);
}

div#illus2 {
	background-image: url(../imgs/home_art/02_1130x550.png);
}

div#illus3 {
	background-image: url(../imgs/home_art/03_1130x550.png);
	background-size: cover !important;
	padding-top: 5px;
	/*border: 1px dotted #000;*/
}

div.illus3-child h2, div.illus3-child p {
	font-family: "HPFont", "Arial", sans-serif;
	width: 80%;
	margin: 20px auto;
	text-align: center;
}

div#illus31 {
	width: 22%;
	float: left;
	margin: auto 1% auto 2%;
	/*border: 1px dotted #000;*/
}

div#illus32 {
	width: 22%;
	float: left;
	margin: auto 1% auto 2%;
	/*border: 1px dotted #000;*/
}

div#illus33 {
	width: 21.5%;
	float: left;
	margin: auto 1% auto 1%;
	/*border: 1px dotted #000;*/
}

div#illus34 {
	width: 21%;
	float: left;
	margin: auto 2% auto 2%;
	/*border: 1px dotted #000;*/
}

div#illus4 {
	background-image: url(../imgs/home_art/04_1060x660.png);
	height: 660px !important;
}

footer#main-footer {
	width: 100%;
	height: 100px;
	background: #000000;
}

span.strong-red {
	color: #7E080B;
	font-weight: bold;
	font-size: 1.5em;
}

span.strong-white {
	color: #FFFFFF;
	font-weight: bold;
	font-size: 1.5em;
}






/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 35em) {

}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}